#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#

choice 'nest project select'	" \
	MT22.1		CONFIG_NEST_MT22P1 \
	MT62.1		CONFIG_NEST_MT621 \
	MT92		CONFIG_NEST_MT92 \
	MT60		CONFIG_NEST_MT60 \
	MT60_0LD	CONFIG_NEST_MT60_OLD \
	MT22.1_OLD	CONFIG_NEST_MT22P1_OLD \
	MT80_OLD    	CONFIG_NEST_MT80_OLD \
	HCU_GAC		CONFIG_NEST_HCU_GAC \
	IGBT_BURN	CONFIG_NEST_IGBT_BURN \
	TESTFIXTURE	CONFIG_NEST_TESTFIXTURE \
	FIXTURE		CONFIG_NEST_FIXTURE \
	TCM8.0		CONFIG_NEST_TCM8P0\
	UPA		CONFIG_NEST_UPA\
" MT92

#nest type description:
#MT80_OLD 	a nest from ball system

int 'log message buffer size' CONFIG_NEST_LOG_SIZE 2048
bool 'test mode: auto restart' CONFIG_NEST_AUTORESTART
bool 'nest id function' CONFIG_NEST_ID
bool 'igbt burn function' CONFIG_NEST_BURN
bool 'wireless function' CONFIG_NEST_WIRELESS
