#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#

choice 'stm32 toolchain select'	" \
	gcc	CONFIG_TOOLCHAIN_GCC \
	iar	CONFIG_TOOLCHAIN_IAR \
" iar

bool "enable library of 'shell'?" CONFIG_TASK_SHELL
bool "enable library of 'osd'?" CONFIG_TASK_OSD
bool "enable library of 'lwip'?" CONFIG_LIB_LWIP

mainmenu_option next_comment
	comment 'library detail configuration'
	source src/lib/Kconfig.submenu
endmenu
