#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#

#force open default console uart
if [ "$CONFIG_CONSOLE_UARTg" = "y"]; then
	define_bool CONFIG_DRIVER_UARTg y
	define_bool CONFIG_SHELL_UARTg y
fi
if [ "$CONFIG_CONSOLE_UART0" = "y"]; then
	define_bool CONFIG_DRIVER_UART0 y
	define_bool CONFIG_SHELL_UART0 y
fi
if [ "$CONFIG_CONSOLE_UART1" = "y"]; then
	define_bool CONFIG_DRIVER_UART1 y
	define_bool CONFIG_SHELL_UART1 y
fi
if [ "$CONFIG_CONSOLE_UART2" = "y"]; then
	define_bool CONFIG_DRIVER_UART2 y
	define_bool CONFIG_SHELL_UART2 y
fi
if [ "$CONFIG_CONSOLE_UART3" = "y"]; then
	define_bool CONFIG_DRIVER_UART3 y
	define_bool CONFIG_SHELL_UART3 y
fi

#common config options
bool "uart debug command support" CONFIG_UART_CMD
bool "KWP2000 wakeup support" CONFIG_UART_KWP_SUPPORT

#uartg
if [ "$CONFIG_CPU_SAM3U" = "y" ]; then
	bool "enable debug uart" CONFIG_DRIVER_UARTg
	if [ "$CONFIG_DRIVER_UARTg" = "y" ]; then
		bool "enable debug uart as console" CONFIG_SHELL_UARTg
	fi
fi

#uart0
if [ "$CONFIG_CPU_STM32" != "y" ]; then
	bool "enable uart0" CONFIG_DRIVER_UART0
	if [ "$CONFIG_DRIVER_UART0" = "y" ]; then
		bool "enable uart0 as console" CONFIG_SHELL_UART0
		int "rx fifo size" CONFIG_UART0_RF_SZ 0
	fi
fi

if [ "$CONFIG_CPU_ADUC706X" != "y" ]; then
#uart1
bool "enable uart1" CONFIG_DRIVER_UART1
if [ "$CONFIG_DRIVER_UART1" = "y" ]; then
	bool "enable uart1 as console" CONFIG_SHELL_UART1
	if [ "$CONFIG_CPU_STM32" = "y" ]; then
		int "tx fifo size" CONFIG_UART1_TF_SZ 64
		int "rx fifo size" CONFIG_UART1_RF_SZ 32
	fi
fi

#uart2
bool "enable uart2" CONFIG_DRIVER_UART2
if [ "$CONFIG_DRIVER_UART2" = "y" ]; then
	bool "enable uart2 as console" CONFIG_SHELL_UART2
	if [ "$CONFIG_CPU_STM32" = "y" ]; then
		int "tx fifo size" CONFIG_UART2_TF_SZ 64
		int "rx fifo size" CONFIG_UART2_RF_SZ 32
	fi
fi

#uart3
bool "enable uart3" CONFIG_DRIVER_UART3
if [ "$CONFIG_DRIVER_UART3" = "y" ]; then
	bool "enable uart3 as console" CONFIG_SHELL_UART3
	if [ "$CONFIG_CPU_STM32" = "y" ]; then
		int "tx fifo size" CONFIG_UART3_TF_SZ 64
		int "rx fifo size" CONFIG_UART3_RF_SZ 32
	fi
fi
fi

bool "add md204l module" CONFIG_DEVICE_MD204L
bool "add ls1203 module" CONFIG_DEVICE_LS1203
