#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#

string "shell banner" CONFIG_BLDC_BANNER "Welcome to Brushless Motor Console"
string "shell prompt" CONFIG_SHELL_PROMPT "bldc# "
int "max bytes of a shell command?" CONFIG_SHELL_LEN_CMD_MAX 64
int "max paras of a shell command?" CONFIG_SHELL_NR_PARA_MAX 16
int "max bytes of command history?" CONFIG_SHELL_LEN_HIS_MAX 256
bool "multiple console support" CONFIG_SHELL_MULTI
bool "cmd pattern like 0,2-5,8 support" CONFIG_CMD_PATTERN
bool "cmd repeatedly run support" CONFIG_CMD_REPEAT
bool "@ replace \r support" CONFIG_CMD_RET_OPT
if [ "$CONFIG_CMD_REPEAT" = "y" ]; then
	bool "enhanced cmd background run(like cmdxxx&100) support" CONFIG_CMD_BKG
fi
bool "cmd para function mode, like fun(x, y) support" CONFIG_CMD_FUNCTION
bool "shell autorun support" CONFIG_SHELL_AUTORUN
if [ "$CONFIG_SHELL_AUTORUN" = "y" ]; then
	string "autorun cmdline" CONFIG_AUTORUN_CMDLINE ""
	bool "cmd autorun support" CONFIG_CMD_AUTORUN
fi
bool "shell build-in command support" CONFIG_CMD_SHELL
if [ "$CONFIG_TASK_SHELL" = "y" -a "$CONFIG_TASK_MOTOR" = "y"]; then
	bool "enable commands for motor?" CONFIG_SHELL_MOTOR
	bool "enable commands for motor debug?" CONFIG_SHELL_MOTOR_DEBUG
else
	define_bool CONFIG_SHELL_MOTOR n
	define_bool CONFIG_SHELL_MOTOR_DEBUG n
fi

if [ "$CONFIG_TASK_SHELL" = "y" -a "$CONFIG_TASK_VVT" = "y"]; then
	bool "enable commands for vvt?" CONFIG_SHELL_VVT
else
	define_bool CONFIG_SHELL_VVT n
fi

if [ "$CONFIG_SHELL_VVT" = "y"]; then
	bool "enable commands for vvt debug?" CONFIG_SHELL_VVT_DEBUG
else
	define_bool CONFIG_SHELL_VVT_DEBUG n
fi

#driver self debug commands
if [ "$CONFIG_DRIVER_FLASH_STM32" = "y"]; then
	bool "enable command flmr/flmw?" CONFIG_SHELL_FLASH_STM32
else
	define_bool CONFIG_SHELL_FLASH_STM32 n
fi

#driver self debug commands
if [ "$CONFIG_LIB_FATFS" = "y"]; then
	bool "enable command fatfs?" CONFIG_SHELL_FATFS
else
	define_bool CONFIG_SHELL_FATFS n
fi

bool "load command?" CONFIG_SHELL_LOAD

