#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#

if [ "$CONFIG_TASK_SHELL" = "y" -a "$CONFIG_TASK_MOTOR" = "y"]; then
	bool "enable commands for motor?" CONFIG_SHELL_MOTOR
	bool "enable commands for motor debug?" CONFIG_SHELL_MOTOR_DEBUG
else
	define_bool CONFIG_SHELL_MOTOR n
	define_bool CONFIG_SHELL_MOTOR_DEBUG n
fi

if [ "$CONFIG_TASK_SHELL" = "y" -a "$CONFIG_TASK_VVT" = "y"]; then
	bool "enable commands for vvt?" CONFIG_SHELL_VVT
else
	define_bool CONFIG_SHELL_VVT n
fi

if [ "$CONFIG_SHELL_VVT" = "y"]; then
	bool "enable commands for vvt debug?" CONFIG_SHELL_VVT_DEBUG
else
	define_bool CONFIG_SHELL_VVT_DEBUG n
fi

#driver self debug commands
if [ "$CONFIG_DRIVER_FLASH_STM32" = "y"]; then
	bool "enable command flmr/flmw?" CONFIG_SHELL_FLASH_STM32
else
	define_bool CONFIG_SHELL_FLASH_STM32 n
fi
