#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#

bool "ulp cmsis support" CONFIG_CPU_CMSIS n
choice 'cpu family select'	" \
	stm32	CONFIG_CPU_STM32 \
	lm3s	CONFIG_CPU_LM3S \
	sam3u	CONFIG_CPU_SAM3U \
	lpc178x	CONFIG_CPU_LPC178X \
	aduc706x	CONFIG_CPU_ADUC706X \
" stm32

if [ "$CONFIG_CPU_STM32" = "y"]; then
	mainmenu_option next_comment
		comment 'CPU CONFIG - STM32'
		source src/cpu/stm32/Kconfig
	endmenu
fi

if [ "$CONFIG_CPU_LM3S" = "y"]; then
	mainmenu_option next_comment
		comment 'CPU CONFIG - LM3S'
		source src/cpu/lm3s/Kconfig
	endmenu
fi

if [ "$CONFIG_CPU_SAM3U" = "y"]; then
	mainmenu_option next_comment
		comment 'CPU CONFIG - SAM3U'
		source src/cpu/sam3u/Kconfig
	endmenu
fi

if [ "$CONFIG_CPU_LPC178X" = "y"]; then
	mainmenu_option next_comment
		comment 'CPU CONFIG - LPC178X'
		source src/cpu/lpc178x/Kconfig
	endmenu
fi

if [ "$CONFIG_CPU_ADUC706X" = "y"]; then
	mainmenu_option next_comment
		comment 'CPU CONFIG - ADUC706X'
		source src/cpu/aduc706x/Kconfig
	endmenu
fi
