#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#
bool "Enable cpu STM32 support?" CONFIG_CPU_STM32 y
if [ "$CONFIG_CPU_STM32" = "y"]; then
	source src/cpu/stm32/Kconfig
fi
