#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#
mainmenu_option next_comment
	comment 'spi config'
	source src/drivers/spi/Kconfig
endmenu

mainmenu_option next_comment
	comment 'uart config'
	source src/drivers/uart/Kconfig
endmenu

mainmenu_option next_comment
	comment 'i2c config'
	source src/drivers/i2c/Kconfig
endmenu

mainmenu_option next_comment
	comment 'usb config'
	source src/drivers/usb/Kconfig
endmenu

bool "enable console drivers?" CONFIG_DRIVER_CONSOLE
if [ "$CONFIG_DRIVER_CONSOLE" = "y" ]; then
	choice 'console device select'	" \
		UART0	CONFIG_CONSOLE_UART0 \
		UART1	CONFIG_CONSOLE_UART1 \
		UART2	CONFIG_CONSOLE_UART2 \
	" UART2
fi
bool "enable network mac drivers?" CONFIG_DRIVER_MAC
bool "bldc drivers?" CONFIG_DRIVER_MOTOR
bool "capture driver?" CONFIG_DRIVER_CAPTURE
bool "flash drivers of stm32" CONFIG_DRIVER_FLASH_STM32
bool "dds chip ad9833" CONFIG_DRIVER_AD9833
bool "eeprom chip at24cxx" CONFIG_DRIVER_AT24CXX
bool "digital pot chip mcp41x" CONFIG_DRIVER_MCP41X
bool "spi 8 ch 10bit dac chip dac1x8s" CONFIG_DRIVER_DAC1X8S
bool "general lcd support?" CONFIG_DRIVER_LCD
if [ "$CONFIG_DRIVER_LCD" = "y" ]; then
	bool "shell cmd for lcd debug" CONFIG_DRIVER_LCD_CMD
	bool "lcd driver for lcd1602" CONFIG_DRIVER_LCD1602
	bool "stm32 bus driver for lcd1602" CONFIG_STM32_LCD1602_BUS
	bool "lcd driver for ili932x" CONFIG_DRIVER_ILI932X
	bool "lcd driver for s6b33bc" CONFIG_DRIVER_S6B33
fi
bool "general keyboard driver" CONFIG_DRIVER_KEYBOARD
bool "adc key driver" CONFIG_DRIVER_ADCKEY
bool "gpio key driver" CONFIG_DRIVER_GPIOKEY
bool "general remote control driver" CONFIG_DRIVER_RCKEY
if [ "$CONFIG_DRIVER_RCKEY" = "y" ]; then
	choice 'remote control protocol'	" \
		rc5	CONFIG_RCKEY_PROTOCOL_RC5 \
	" rc5
fi
bool "general disk support for fatfs?" CONFIG_DRIVER_DISK
if [ "$CONFIG_DRIVER_DISK" = "y" ]; then
	bool "spi sdcard driver support" CONFIG_DRIVER_SPISDCARD
fi
bool "keyword phy driver?" CONFIG_DRIVER_KWD
if [ "$CONFIG_DRIVER_KWD" = "y" ]; then
	bool "keyword phy driver debug command" CONFIG_KWD_CMD
fi
bool "add md204l driver?" CONFIG_DRIVER_MD204L
