#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#
bool "led driver" CONFIG_DRIVER_LED
bool "bldc drivers?" CONFIG_DRIVER_MOTOR
bool "capture driver?" CONFIG_DRIVER_CAPTURE
bool "add md204l driver?" CONFIG_DRIVER_MD204L
