#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#
bool "led driver" CONFIG_DRIVER_LED
if [ "$CONFIG_DRIVER_LED" = "y" ]; then
	if [ "$CONFIG_DRIVER_GPIO" = "y" ]; then
		bool "enable led gpio driver" CONFIG_LED_GPIO
	fi
	bool "enable led obsolete driver" CONFIG_LED_HWDRV
	int 'LED Module Update Period(mS)' CONFIG_LED_UPDATE_MS 1000
	bool "led error code function" CONFIG_LED_ECODE
	bool "dual color led function" CONFIG_LED_DUAL
	bool "led debug cmd" CONFIG_LED_CMD
fi

bool "bldc drivers?" CONFIG_DRIVER_MOTOR
bool "add md204l driver?" CONFIG_DRIVER_MD204L
