#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#
bool "enable all motor related drivers?" CONFIG_DRIVER_MOTOR
bool "enable all vvt related drivers?" CONFIG_DRIVER_VVT
if [ "$CONFIG_DRIVER_VVT" = "y" ]; then
	define_bool CONFIG_DRIVER_AD9833 y
	define_bool CONFIG_DRIVER_MCP41X y
	int "rpm dds mclk frequency Hz?" CONFIG_DRIVER_RPM_DDS_MCLK 25000000
	int "vss dds mclk frequency Hz?" CONFIG_DRIVER_VSS_DDS_MCLK 25000000
	int "knock dds mclk frequency Hz?" CONFIG_DRIVER_KNOCK_DDS_MCLK 25000000
	int "max knock sensor out voltage mVpp?" CONFIG_DRIVER_KNOCK_MVPP_MAX 255
fi
