#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#

bool "enable sys debug?" CONFIG_SYSTEM_DEBUG
int "sys tick freq in Hz?" CONFIG_TICK_HZ 1000
if [ "$CONFIG_LIB_FREERTOS" != "y"]; then
	int "background tasks update period in ms?" CONFIG_SYSTEM_UPDATE_MS 5
fi
