#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#

choice 'misc project configuration'	" \
	MISC_NULL			CONFIG_MISC_NULL \
	VALVE_HEAD_DEMO		CONFIG_MISC_VHD \
	ROWBOAT_SPC			CONFIG_MISC_SPC \
" misc project
