#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#

choice 'misc project configuration'	" \
	MISC_NULL				CONFIG_MISC_NULL \
	VALVE_HEAD_DEMO			CONFIG_MISC_VHD \
	SWITCH_LOAD_UNIT		CONFIG_MISC_SLU \
	ROWBOAT_SPC				CONFIG_MISC_SPC \
	BurnPanel_PowerTest		CONFIG_MISC_BPTEST \
	ROWBOAT_SPC			CONFIG_MISC_SPC \
	MICROMETER_ADAPTER		CONFIG_MISC_MA \
" VALVE_HEAD_DEMO
