#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#
if [ "$CONFIG_CPU_STM32" = "y" ]; then
	mainmenu_option next_comment
		comment 'stm32 spi config'
		source src/drivers/spi/Kconfig.stm32
	endmenu
fi
if [ "$CONFIG_CPU_ADUC706X" = "y" ]; then
	mainmenu_option next_comment
		comment 'aduc706x spi config'
		source src/drivers/spi/Kconfig.aduc
	endmenu
fi
bool "chip virtual(vchip)" CONFIG_DRIVER_VCHIP
bool "chip ad9833(dds)" CONFIG_DRIVER_AD9833
bool "chip mcp41x(digi pot)" CONFIG_DRIVER_MCP41X
bool "chip dac1x8s(8x10bit dac)" CONFIG_DRIVER_DAC1X8S
bool "chip 74hct595 (shift register)" CONFIG_DRIVER_74HCT595
bool "chip mbi5025 (shift register)" CONFIG_DRIVER_MBI5025
if [ "$CONFIG_DRIVER_MBI5025" = "y" ]; then
int "mbi5025 clock(unit: KHz, <25MHz)" CONFIG_MBI5025_KHZ 1000
fi
bool "chip mcp23s17 (io expander)" CONFIG_DRIVER_MCP23S17
bool "chip ad5663 16bit dac" CONFIG_DRIVER_AD5663
