#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#

bool "spi bus 1?" CONFIG_DRIVER_SPI1
if [ "$CONFIG_DRIVER_SPI1" = "y" ]; then
	bool "enable dma support" CONFIG_SPI1_DMA
	choice 'cs control method'	" \
		NONE	CONFIG_SPI1_CS_NONE \
		HARD	CONFIG_SPI1_CS_HARD \
		SOFT	CONFIG_SPI1_CS_SOFT \
	" NONE
fi

bool "spi bus 2?" CONFIG_DRIVER_SPI2
if [ "$CONFIG_DRIVER_SPI2" = "y" ]; then
	bool "enable dma support" CONFIG_SPI2_DMA
	choice 'cs control method'	" \
		NONE	CONFIG_SPI2_CS_NONE \
		HARD	CONFIG_SPI2_CS_HARD \
		SOFT	CONFIG_SPI2_CS_SOFT \
	" NONE
fi

bool "spi bus 3?" CONFIG_DRIVER_SPI3
if [ "$CONFIG_DRIVER_SPI3" = "y" ]; then
	bool "enable dma support" CONFIG_SPI3_DMA
	bool "remap to PC10..12" CONFIG_SPI3_REMAP
	choice 'cs control method'	" \
		NONE	CONFIG_SPI3_CS_NONE \
		HARD	CONFIG_SPI3_CS_HARD \
		SOFT	CONFIG_SPI3_CS_SOFT \
	" NONE
fi

if [ "$CONFIG_SPI1_CS_SOFT" = "y" -o "$CONFIG_SPI2_CS_SOFT" = "y" -o "$CONFIG_SPI3_CS_SOFT" = "y" ]; then
	mainmenu_option next_comment
		comment 'soft cs config'
	endmenu

	bool "PA2 as CS" CONFIG_SPI_CS_PA2
	bool "PA3 as CS" CONFIG_SPI_CS_PA3
	bool "PA4/SPI1_NSS as CS" CONFIG_SPI_CS_PA4
	bool "PA12 as CS" CONFIG_SPI_CS_PA12

	bool "PB0 as CS" CONFIG_SPI_CS_PB0
	bool "PB1 as CS" CONFIG_SPI_CS_PB1
	bool "PB6 as CS" CONFIG_SPI_CS_PB6
	bool "PB7 as CS" CONFIG_SPI_CS_PB7
	bool "PB10 as CS" CONFIG_SPI_CS_PB10
	bool "PB12/SPI2_NSS as CS" CONFIG_SPI_CS_PB12

	bool "PC3 as CS" CONFIG_SPI_CS_PC3
	bool "PC4 as CS" CONFIG_SPI_CS_PC4
	bool "PC5 as CS" CONFIG_SPI_CS_PC5
	bool "PC6 as CS" CONFIG_SPI_CS_PC6
	bool "PC7 as CS" CONFIG_SPI_CS_PC7
	bool "PC8 as CS" CONFIG_SPI_CS_PC8

	bool "PD8 as CS" CONFIG_SPI_CS_PD8
	bool "PD9 as CS" CONFIG_SPI_CS_PD9
	bool "PD12 as CS" CONFIG_SPI_CS_PD12

	bool "PF11 as CS" CONFIG_SPI_CS_PF11

fi
