#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#

#gpio emulate
choice 'lpt bus hardware select'	" \
	GPIO	CONFIG_LPT_GPIO \
	FSMC	CONFIG_LPT_FSMC \
	NONE	CONFIG_LPT_NONE \
" NONE
if [ "$CONFIG_LPT_NONE" != "y" ]; then
	#bus period
	int "default bus period, unit: ns" CONFIG_LPT_T 400
	#bus access time
	int "default bus access time, unit: ns" CONFIG_LPT_TP 200
	bool "enable lpt debug command?" CONFIG_LPT_CMD
fi
if [ "$CONFIG_LPT_FSMC" = "y" ]; then
	choice 'LCD RS pin select(such as: BANK1/A16, ADDR 0x01->0x60020000)'	" \
		PD11/A16	CONFIG_LPT_A16 \
		PD12/A17	CONFIG_LPT_A17 \
	" PD11/A16
fi
if [ "$CONFIG_LPT_GPIO" = "y" ]; then
	choice 'bus timing mode'	" \
		I80	CONFIG_LPT_MODE_I80 \
		M68	CONFIG_LPT_MODE_M68 \
	" I80
	choice 'bus pinmap type'	" \
		DEF8BIT	CONFIG_LPT_PINMAP_DEF8 \
		DEF16BIT	CONFIG_LPT_PINMAP_DEF16 \
		ZF32	CONFIG_LPT_PINMAP_ZF32 \
		APT		CONFIG_LPT_PINMAP_APT \
	" DEF8BIT
	choice 'data bus drive type'	" \
		OPENDRAIN	CONFIG_LPT_DB_OD \
		PUSHPULL	CONFIG_LPT_DB_PP \
	" OPENDRAIN
fi

#extern memory bus such as FSMC
