#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#

#gpio emulate
bool "gpio emulated lpt bus?" CONFIG_LPT_GPIO
if [ "$CONFIG_LPT_GPIO" = "y" ]; then
	choice 'bus pinmap type'	" \
		DEF8BIT	CONFIG_LPT_PINMAP_DEF8 \
		DEF16BIT	CONFIG_LPT_PINMAP_DEF16 \
		ZF32	CONFIG_LPT_PINMAP_ZF32 \
	" DEF8BIT
	choice 'bus timing mode'	" \
		NORMAL	CONFIG_LPT_MODE_NORMAL \
		LCD1602	CONFIG_LPT_MODE_1602 \
	" NORMAL
	#bus period
	int "bus period, unit: ns" CONFIG_LPT_T 400
	#bus access time
	int "bus access time, unit: ns" CONFIG_LPT_TP 200
fi

#extern memory bus such as FSMC
