#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#

bool "enable task of 'motor'?" CONFIG_TASK_MOTOR
bool "enable task of 'stepmotor'?" CONFIG_TASK_STEPMOTOR
bool "enable task of 'vvt'?" CONFIG_TASK_VVT

if [ "$CONFIG_LIB_LWIP" = "y" ]; then
	bool "enable task of 'eth demo'?" CONFIG_TASK_ETHDEMO
fi

mainmenu_option next_comment
	comment 'tasks detail configuration'
	source src/tasks/Kconfig.submenu
endmenu
