#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#

bool "enable task of 'motor'?" CONFIG_TASK_MOTOR
bool "enable task of 'stepmotor'?" CONFIG_TASK_STEPMOTOR
bool "enable task of 'vvt'?" CONFIG_TASK_VVT
bool "Handheld Vehicle Programmer?" CONFIG_TASK_HVP
bool "delphi nest program?" CONFIG_TASK_NEST

if [ "$CONFIG_LIB_LWIP" = "y" ]; then
	bool "enable task of 'eth demo'?" CONFIG_TASK_ETHDEMO
	bool "enable task of MatrixBoard?" CONFIG_TASK_MATRIX
fi

bool "misc applications?" CONFIG_TASK_MISC

mainmenu_option next_comment
	comment 'tasks detail configuration'
	source src/tasks/Kconfig.submenu
endmenu
