#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2013
#

choice 'application select'	" \
	DMM		CONFIG_OID_DMM \
	OID		CONFIG_OID_MAIN \
	YBS		CONFIG_OID_YBS \
" OID

choice 'oid hardware version'	" \
	V1.0		CONFIG_OID_HWV1 \
	V2.0		CONFIG_OID_HWV2 \
" V2.0

if [ "$CONFIG_OID_DMM" = "y"]; then
	choice 'aduc adc sinc3 filter setting'	" \
		50HZ			CONFIG_ADUC_50HZ \
		50HZ_CHOP		CONFIG_ADUC_50HZ_CHOP \
		10HZ_CHOP		CONFIG_ADUC_10HZ_CHOP \
	" 10HZ_CHOP
fi

