#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#
# please refer to lwip/port/lwipopts.h for more
choice 'lwip version select'	" \
	LWIP-1.3.1	CONFIG_LWIP_V131 \
	LWIP-git	CONFIG_LWIP_GIT \
" LWIP-1.3.1
bool "non-OS based support(NO_SYS)?" NO_SYS
bool "use mac hardware cksum?" CHECKSUM_BY_HARDWARE
bool "dhcp support?" LWIP_DHCP
bool "use libc malloc?" MEM_LIBC_MALLOC
int "bytes reserved before ethernet header(ETH_PAD_SIZE)" ETH_PAD_SIZE 0
int "bytes of a link level header(PBUF_LINK_HLEN)?" PBUF_LINK_HLEN 14

choice 'default ip addr select'	" \
	DHCP		CONFIG_LWIP_IP_DHCP \
	192.168.8.4	CONFIG_LWIP_IP_192_168_8_4 \
	192.168.2.2	CONFIG_LWIP_IP_192_168_2_2 \
" 192.168.2.2
bool "app - hello world" CONFIG_LWIP_APP_HELLO
bool "app - tcp server" CONFIG_LWIP_APP_TCPSERVER
if [ "$CONFIG_LWIP_GIT" = "y" ]; then
	bool "app - http server" CONFIG_LWIP_APP_HTTPD
fi
if [ "$CONFIG_LWIP_APP_HTTPD" = "y" ]; then
	bool "app - http server CGI support" LWIP_HTTPD_CGI
	bool "app - http server SSI support" LWIP_HTTPD_SSI
	bool "app - http server with custom webpage" HTTPD_USE_CUSTOM_FSDATA
fi
