#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#

#common config options
bool "enable debug command" CONFIG_CMD_CAN

#can 1
bool "enable CAN 1" CONFIG_DRIVER_CAN1
if [ "$CONFIG_DRIVER_CAN1" = "y" ]; then
	if [ "$CONFIG_CPU_STM32" = "y" ]; then
		bool "remap PB8/9 as tx/rx pin" CONFIG_CAN1_REMAP
	fi
fi
