#
# bldc configuration written in linux configuration language
#
# Written by dusk@2010
#
if [ "$CONFIG_LIB_FREERTOS" = "y" ]; then
	bool "thread safe print?" CONFIG_COMMON_PRINT
fi
bool "ini file parser" CONFIG_COMMON_INIFILE
bool "keyword protocol" CONFIG_COMMON_KWP
bool "s-record parser" CONFIG_COMMON_PTP
bool "kermit communication protocol" CONFIG_COMMON_KERMIT
bool "vchip communication protocol" CONFIG_COMMON_VCHIP
bool "linux fast sort algo" CONFIG_COMMON_SORT
bool "crc16 algo" CONFIG_COMMON_CRC16
bool "crc32 algo" CONFIG_COMMON_CRC32
bool "posix crc algo" CONFIG_COMMON_CRC_POSIX
bool "mempool memory management algo" CONFIG_COMMON_MEMPOOL
bool "pid algo" CONFIG_COMMON_PID
bool "test step architecture support" CONFIG_COMMON_TSTEP
bool "Polynomial fitting support" CONFIG_COMMON_POLYFIT
bool "modbus protocol support" CONFIG_COMMON_MODBUS
if [ "$CONFIG_COMMON_MODBUS" = "y" ]; then
	int "max modbus frame length" CONFIG_MB_FRAME_BYTES 64
fi
