#
# bldc configuration written in linux configuration language
#
# Written by miaofng@2010
#
choice 'encoder interface select'	" \
	STM32_TIM4	CONFIG_ENCODER_STM32_TIM4 \
	STM32_TIM2	CONFIG_ENCODER_STM32_TIM2 \
" STM32_TIM4
bool "encoder cmd support" CONFIG_ENCODER_CMD
